<meta name="viewport" content="width=500, initial-scale=1"> <!--This line of code is for mobile responsive -->
<link href="style.css" rel="stylesheet" type="text/css">

<div>
    <button type="submit" formmethod="post" formaction="/1" class="button button4">1</button>
    <button type="submit" formmethod="post" formaction="/2" class="button button4">2</button>
</div><br>
<div>
    <button type="submit" formmethod="post" formaction="/3" class="button button4">3</button>
    <button type="submit" formmethod="post" formaction="/4" class="button button4">4</button>
</div><br>
<div>
    <button type="submit" formmethod="post" formaction="/5" class="button button4">5</button>
    <button type="submit" formmethod="post" formaction="/6" class="button button4">6</button>
</div><br>
<div>
    <button type="submit" formmethod="post" formaction="/7" class="button button4">7</button>
    <button type="submit" formmethod="post" formaction="/8" class="button button4">8</button>
</div><br>
</div>
